@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-areas:
            "header header header header header header"
            "main main main main main main"
            "footer footer footer footer footer footer";
    }
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px auto 200px;
    grid-template-areas:
            "header header header header header header"
            ". main main main main ."
            "footer footer footer footer footer footer";
}

section.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* HEADER */

.site-header {
    border-bottom: 2px solid lightgray;
    grid-area: header;
}

.site-header > .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: teal;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* MAIN */

.site-main {
    grid-area: main;
}

.areas-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.area-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */

.site-footer {
    background-color: #e0dfdf;
    grid-area: footer;
}
